.app-background {
  background: #141414;
  color: #ffffff;
}

.heading {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  font-size: 45px;
  margin-bottom: 1rem;
}

.tmdb {
  height: 90px;
  width: 110px;
  margin-right: 50px;
}

.link {
  text-decoration: none;
  color: aliceblue;
}

.link:hover {
  color: aqua;
}

.link button:hover {
  background: aqua;
}

.link button {
  border-radius: 10px;
  padding: 8px 10px;
  font-size: 18px;
  font-weight: bold;
  margin: 10px 10px;
}

.search {
  float: left;
  font-size: 25px;
  text-decoration:overline;
  margin-left: 40%;
}

.gallery {
  float: right;
  font-size: 25px;
  text-decoration:overline;
  margin-right: 40%;
}

.gallery-genres {
  margin-top: 80px;
  display: flex;
  justify-content: center;
}


.list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 2rem;
}

.image-container {
  width: 20%;
  height: auto;
  margin: 2rem;
  margin-bottom: 30px;
  transition: transform 0.2s;
}
@media screen and (max-width: 1310px) {
  .list-container {
    margin-left: 3rem;
  }
  .image-container {
    width: 18%;
  }
}

.image-container img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  /* overflow: hidden; */
}

.image-container:hover {
  cursor: pointer;
  transform: scale(1.05);
  /* transition: 0.5s ease; */
}

/* .image-container:hover .overlay {
  opacity: 1;
} */

.overlay {
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  /* opacity: 1; */
  font-size: 17px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  /* overflow: hidden; */
}

.overlay span {
  margin-left: 8%;
  padding: 3px 3px;
  background-color: rgb(58, 57, 57);
  border-radius: 3px;
  font-weight: bold;
}

.overlay .green {
  color: rgb(45, 241, 45);
}

.overlay .orange {
  color: orange;
}

.overlay .red {
  color: rgb(255, 0, 0);
}

.searchcontainer {
  width: 100%;
}

.searchbox {
  display: flex;
  justify-content: center;
  margin-top: 6rem;
  margin-bottom: 2rem;
}

.searchbox-style {
  font-size: 20px;
}

.searchbox-style input {
  width: 300px;
  border-radius: 6px;
}

.sort-order {
  display: flex;
  justify-content: center;
  margin-bottom: 4rem;
}

.orderbutton {
  margin-left: 10px;
}

.typebutton {
  margin-right: 30px;
}

.typebutton select {
  border-radius: 6px;
}

.orderbutton:hover {
  cursor: pointer;
}

.check-unmarked {
  display: block;
}

.check-marked {
  display: none;
}

.detail-background {
  width: 100%;
  margin-top: 8rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.detail-background .poster img {
  width: 450px;
  border-radius: 10px;
}

.poster {
  padding: 0px 20px;
}

.detail-info {
  width: 450px;
  padding: 0px 20px;
}

.detail-info h3 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.detail-info div {
  margin: 8px 0;
  font-size: 18px;
}

.detail-info .green {
  color: rgb(45, 241, 45);
  padding: 3px 3px;
  background-color: rgb(58, 57, 57);
  border-radius: 3px;
  font-weight: bold;
  margin-left: 2px;
}

.detail-info .orange {
  color: orange;
  padding: 3px 3px;
  background-color: rgb(58, 57, 57);
  border-radius: 3px;
  font-weight: bold;
  margin-left: 2px;
}

.detail-info .red {
  color: red;
  padding: 3px 3px;
  background-color: rgb(58, 57, 57);
  border-radius: 3px;
  font-weight: bold;
  margin-left: 2px;
}

.leftbutton {
  margin-right: 3rem;
}

.rightbutton {
  margin-left: 1rem;
}

/* .leftbutton {
  position: absolute;
  top: auto;
  left: 7rem;
}

.rightbutton {
  position: absolute;
  top: auto;
  right: 7rem;
} */

.cross {
  position: absolute;
  top: 0;
  right: 7rem;
}
